/*-----------*/
/* Universal */
/*-----------*/

body {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav a {
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: darkgreen;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
    margin-top: 0%;
    margin-left: 20px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 100%;
    height: auto;
}

label {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    font-family: 'Times New Roman', Times, serif;
}

/*------------*/
/* index.html */
/*------------*/

.index_img {
    height: auto;
    width: 100%;
    margin: 0%;
}

/*-----------*/
/* info.html */
/*-----------*/

li img {
    border-radius: 100%;
    border: 2px solid black;
}

/*------------*/
/* links.html */
/*------------*/

.link-img {
    width: 100px;
}

ul {
    text-align: center;
    list-style-type: none;
}

/*-------------*/
/* images.html */
/*-------------*/

.img-6 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-gap: 7px;
    grid-row-gap: 40px;
}
